@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


/* font-family: 'Raleway', sans-serif; */

*{
    margin: 0%;
    
}



.cajon{
    margin-left: 20vw;
    margin-right: 20vw;
    border: #bdc3c7 solid 5px;
    padding: 1%;
    
}

li{
  
    display: inline-block;
    text-align: center;
    width: 21%;
    background-color: #bdc3c7;
    border: 10px #bdc3c7 solid;
    margin: 0;
}

h1{ margin-left: 3%;
    padding: 1%;
    color: #3498db;
    font-family: 'Raleway', sans-serif;

}


article{
    margin-left: 4%;
    margin-right: 4.4%;
    text-align: justify;
}

article div{
    padding: 0.9%;
}


.cajasub{
    border-left: solid gray 2px;
}

.subsitulo{
    padding-left: 1%;
}



/* la rasha funciona aveces */
.wrapper {
    padding-bottom: 30px;
    }
    
    .divider {
    position: relative;
    margin-top: 40px;
    height: 1px;
    }
    
    .div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
    }
















































