@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


/* font-family: 'Raleway', sans-serif; */

body{
    margin-left: 3vw;
    margin-right: 3vw;
    border: #bdc3c7 solid 5px;
    padding: 1%;
}

.cajalista{
    margin: 0 auto;
}


li{
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width: 21%;
    background-color: gray;
    
}
















