

body{
    background-color: gray;
    margin: 0;
}

.cajon{
    display: flex;
    height: 25vh;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    background-color: rgb(22, 163, 81);
}
 
.cajon div{
   text-align: center;
   margin: 3%;
}

a div{
    padding-top: 15px;
}

a{
    text-decoration: none;
    color: white;
}

i:hover{
    color: black;
}