@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
    background-color: gray;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.cajon{
    display: flex;
    height: 25h;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    background-color: rgb(22, 163, 81);
}
 
.cajon div{
   text-align: center;
   margin: 3%;
}

a div{
    padding-top: 15px;
}

a{
    text-decoration: none;
    color: inherit white;
}

i:hover{
    color: black;
}