/* 1 - dona al <body> element un color de fons de #4db3b7 */

/* 2 - Fes que els <h1> siguin de color #9b59b6 */

/* 3 - Fes que els <h3> siguin de color lightsalmon */

/* 4 - Fes que els <li> siguin d'un verd hexadecimal */

/* 5 - Canvia el color de fons de cada paràgraf a vermell */

/* 6 - Fes que tots els inputs tinguin un border de 2px taronja sòlid */

/* 7 - Fes que tot el que té class 'fonsBlanc' sigui de fons blanc */

/* 8 - Fes que l'element amb id 'recuadre' tingui un border 2px solid blau (selecciona el teu propi rgb blau) */

/* 9 - Fes que tots els <p> que estiguin dins un div tingin una font de 25px*/

/* 10 - Fes que els inputs de type password tenguin un fons vermell clar */

/* 11 - Fes que els <p> dins el 3r <div> tinguin fons rosa */

/* 12 - Fes que el 2n <em> dins el <p> amb id "loremIpsum" tingui un border de 5px negre amb punts */

/* 13 - Fes que l'element <em> del 3r <div> sigui blanc amb una font de 20px */

/* 14 - Fes que els elements de classe "transparent" tenguin una transparència del 75% */

/* 15 - Fes que els elements h3 de dins un div estigui subrajat per adalt i per abaix */

/* 16 - Fes que tots el s checkboxes que estiguin marcats tinguin un marge esquerra de 20px */

/* 17 - Fes que els elements <h2> de classe "mayusc" siguin tots UPPERCASE (sense canviar el HTML) */

/* 18 - Fes que la primera lletra de l'element amb id 'special' sigui de color blau i amb font de 100px*/

/* 19 - Fes que el color de font dels <h2> canviï a vermell quan el ratolí passi per damunt */

/* 20 - Fes que els <a> que hagin estat visitats siguin d'un color taronja (pots seleccionar el teu propi color) */
