@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
    font-family: 'Shippori Antique', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.cajon{
    background-image: url(../fotos/landinpaje/moon1.jpg);
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    margin-bottom: 40px;
    color: blue;
}
h1{
    color: blue;
}

.boron{
    border: solid 1px;
    border-radius: 10%;
    padding: 10px;
}

a{
    text-decoration: none;
    color: blue;
}

.boron:hover{
    background-color: blue;
    color: white;
    border: blue solid;
}

.divas, .divasB{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 20px;
}

.divas{
    color: blue;
    background-color: white;
}

.divasB{
    background-color: blue;
    color: white;
}

.pobreza{
    display: flex;
}

















